
  <div class="navbarperso">
  <%= image_tag "arbre.png", class:"arbreimg" %>
        <a class="navlink" href="#Home">Home</a>
    <a class="navlink" href="#Adoption">Adoptions</a>
    <a class="navlink" href="#Find a tree">Find</a>
    <a class="navlink" href="#Find a tree">Hello</a>
        <%= image_tag "arbre.png", class:"arbreimg" %>
  </div>
