 <br>
 <br>
 <br>

  <div class="instructions-nav">
        <a class="nav-div link" href="#Home"><p>Home<p></a>
    <a class="nav-div link" href="#Adoption"><p>Adoptions</p></a>
    <a class="nav-div link" href="#Find a tree"><p>Find</p></a>
  </div>
 <div class="BigCardsconatainer">
    <% @trees.each do |tree| %>
      <div class="CardsContainer">
        <%= link_to tree_path(tree), class:"text-decoration-none" do %>
          <div class="card-category" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
            <%= tree.name %>
          </div>
        <% end %>
      </div>
    <% end %>

  </div>
  <%= link_to "Add a Tree", new_tree_path %>
</div>
